.hide {
  opacity: 0;
  visibility: hidden;
}

.loginButton {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
  transition: 0.25s;
  position: relative;
  padding: 0.5rem;
  color: dimgray;
  cursor: pointer;
  text-decoration: none;
}

.loginButton .text {
  display: none;
  margin: 0;
  user-select: none;
}

.loginButton:hover {
  color: black;
}

.loginButton:active {
  color: dimgray;
}

@media only screen and (min-width: 601px) {
  .loginButton .text {
    display: block;
  }

  .loginButton {
    padding-right: 0;
  }
}
