.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  transition: opacity 0.1s;
  padding: 0.5rem;
}

.links {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

.group {
  display: flex;
  flex-direction: row;
  /* gap: 5px; */
  align-items: center;
}

.hide {
  opacity: 0;
  visibility: hidden;
}

.titleContainer {
  position: relative;
  display: flex;
  align-items: baseline;
  flex-direction: column;
  color: black;
  transition: 0.25s;
}

.titleContainer:active {
  color: dimgray;
}

.title {
  position: relative;
  left: -2px;
  margin: 0;
  padding: 0 0.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

.expandable {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transition: 0.2s;
  padding: 0.5rem;
  text-decoration: none;
}

.expandable .icon {
  transition: 0.2s ease-in-out;
  cursor: pointer;
  color: dimgray;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  user-select: none;
}

.expandable .icon:hover {
  color: black;
}

.expandable .icon:active {
  color: dimgray;
}

.expandable .icon + .text {
  display: none;
}

.greyed {
  color: dimgray;
}

.titleContainer.greyed:hover {
  color: black;
}

.titleContainer.greyed:active {
  color: dimgray;
}

@media only screen and (min-width: 601px) {
  /* .loginButton::after {
    position: absolute;
    content: " ";
    min-width: 0px;
    min-height: 5px;
    transition: min-width 0.25s;
    bottom: 5px;
    background-color: darkorange;
    border-radius: 25px;
    margin-left: 1px;
  }

  .loginButton:hover::after {
    min-width: calc(100% - 20px);
  } */

  .expandable .icon + .text {
    display: block;
    transition: 0.2s ease-in-out;
    max-width: 0;
    overflow: hidden;
    user-select: none;
    color: dimgray;
    margin: 0;
  }

  .expandable .icon:hover + .text {
    max-width: 150px;
    padding-left: 5px;
    color: black;
  }

  .expandable .icon:active + .text {
    color: dimgray;
  }

  .title {
    padding-left: 0;
  }

  .title::after {
    position: absolute;
    content: " ";
    min-width: 0px;
    min-height: 5px;
    transition: min-width 0.25s;
    bottom: -2px;
    background-color: darkorange;
    border-radius: 25px;
    margin-left: 2px;
  }

  .title:hover::after {
    min-width: calc(100% - 0.5rem - 2px);
  }

  .container {
    justify-content: space-between;
    padding: 0.5rem 0 0.5rem 0;
  }

  .links {
    justify-content: space-between;
  }
}
