.mask {
  display: flex;
  position: relative;
  gap: 1rem;
  justify-content: center;
  /* height: 50vh; */
  /* width: 40vw; */
  mask-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 30%,
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 30%,
      rgba(0, 0, 0, 0) 100%
    );
}

.numbers {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.numbers > div:last-child {
  margin: 0;
}

.numbersInput {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #0070f3;
  padding-top: 2rem;
}

.numbersInput > div:last-child {
  color: transparent;
  margin: 0;
}

.activeAnswer {
  text-align: center;
  border: none;
  font-size: 2em;
  font-weight: bold;
  font-family: inherit;
  color: #0070f3;
  caret-color: transparent;
  background-color: transparent;
  width: 24px;
}

.activeAnswer:focus {
  outline: none;
}

.wrong {
  color: red;
}

@keyframes caretBlink {
  50% {
    opacity: 0;
  }
}

.blink {
  animation-name: caretBlink;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.number {
  text-align: center;
  font-size: 2em;
  min-height: 3rem;
  font-weight: bold;
  background-color: transparent;
  margin-bottom: 1.5rem;
  display: block;
}

.paddingNumber {
  display: block;
  min-height: 3rem;
  min-width: 1rem;
  background-color: transparent;
  margin-bottom: 1.5rem;
}

.timer {
  color: darkorange;
  font-size: 2em;
  font-weight: bold;
  position: relative;
  top: 11.25rem;
  width: 6rem;
  text-align: right;
}

.paddingTimer {
  min-width: 6rem;
}

.activeAnswerContainer {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  min-height: 3rem;
  margin-bottom: 1.5rem;
  justify-content: space-around;
}

.activeAnswerContainer:after {
  content: " ";
  display: block;
  position: absolute;
  top: 2.5rem;
  width: 1.5rem;
  height: 0.3rem;
  background-color: darkorange;
  border-radius: 16px;
}

@media only screen and (max-width: 600px) {
  .mask {
    width: 100%;
  }
}

.menuChoice > div:not(:last-child):after {
  content: "/";
  color: black;
  cursor: default;
}

.activeChoice {
  color: darkorange;
}

.hide {
  opacity: 0;
}

.clickable:hover {
  cursor: pointer;
}

.strikethrough {
  text-decoration: line-through;
}
